.frameChild {
  position: relative;
  border-radius: 8px;
  width: 320px;
  height: 320px;
  object-fit: cover;
}
.patagoniaConstructions1 {
  position: relative;
  line-height: normal;
  font-weight: 500;
  text-align: left;
}
.ajayVarmaParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-size: 20px;
}
.ceoowner {
  font-size: 16px;
}
.bangaloreKarnataka {
  font-weight: 500;
  font-size: 14px;
}
.navigationMapPinParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 14px;
  color: #3d3d3d;
}
.div {
  padding: 4px 8px;
  border-radius: 4.22px;
  background: #00a976;
  font-size: 10px;
  font-weight: 800;
}
.ratings {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto;
  color: #828181;
}
.frameWrapper1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  font-size: 10.13px;
  color: #fff;
  font-family: Karla;
}
.patagoniaConstructionsGeneParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.ellipseParent {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #daf3ed;
  border-radius: 50%;
}
.groupParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  width: 140px;
}
.frameParent5 {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frameParent3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 12px 40px;
  text-align: left;
  font-size: 14px;
  color: #3d3d3d;
  width: 550px;
  margin: 20px 0;
  padding-bottom: 20px;
}
.frameDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  width: 100%;
}
.cta {
  border-radius: 40px;
  background: linear-gradient(25.54deg, #bf9900, #ffcf12);
  width: 192px;
  height: 48px;
  display: flex;
  flex-direction: row;
  padding: 8px 0px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: #3d3d3d;
}
.cta2 {
  border-radius: 40px;
  background: linear-gradient(25.54deg, #52b056 63.54%, #67c86a);
  width: 192px;
  height: 48px;
  display: flex;
  flex-direction: row;
  padding: 8px 0px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #fff;
}
.cta2 .whatsapp {
  color: #fff;
}
.ctaParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.ctaParent button {
  border: none;
  color: #3d3d3d;
  font-family: roboto;
}
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 490px;
  min-height: 250px;
}
.bold {
  font-weight: 500;
  color: #000;
}
.rectangleParent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}
.whatsapp1Parent {
  margin: 0 !important;
  position: absolute;
  top: 70px;
  right: 0;
  border-radius: 16px 0px 0px 16px;
  background-color: #e9fff8;
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  text-align: left;
  font-size: 12px;
  font-family: Karla;
  cursor: pointer;
}
.frameParent {
  position: relative;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  width: 990px;
  height: 380px;
  padding: 24px;
  font-size: 24px;
}
.bangaloreKarnatakaMobile {
  display: none;
}
.customer_name {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 75% */
}
.location {
  color: #3d3d3d;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* Media query */
@media only screen and (max-width: 440px) {
  .bangaloreKarnatakaMobile {
    display: inline-block;
  }
  .whatsapp1Parent{
    top: 20px;
  }
  .bangaloreKarnataka {
    display: none;
  }
  .location {
    font-size: 10px;
  }
  .frameChild {
    position: relative;
    border-radius: 6.81px;
    width: 139px;
    height: 132px;
    object-fit: cover;
  }
  .patagoniaConstructions1 {
    position: relative;
    line-height: normal;
    font-weight: 500;
    text-align: center;
  }
  .ajayVarma {
    position: relative;
  }
  .fvIcon {
    position: relative;
    width: 17.02px;
    height: 17.02px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .fvParent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6.81px;
  }

  .ajayVarmaParent {
    justify-content: center;
    gap: 6.81px;
    font-size: 13.62px;
    width: 100%;
  }
  .ceoowner {
    position: relative;
    font-size: 11.91px;
  }
  .navigationMapPinParent {
    gap: 3.4px;
    font-size: 10.21px;
    color: #3d3d3d;
  }
  .ratings {
    font-size: 10px;
  }
  .frameWrapper1 {
    justify-content: center;
    font-size: 9px;
    gap: 5px;
    color: #fff;
  }
  .patagoniaConstructionsGeneParent {
    align-items: center;
    justify-content: center;
    gap: 6.81px;
    color: #000;
  }
  .ellipseParent {
    width: 18.72px;
    height: 18.72px;
  }

  .groupParent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6.81px;
    width: 130px;
  }
  .frameParent5 {
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    width: 100%;
    gap: 12px;
  }
  .frameParent3 {
    gap: 8px;
    padding-bottom: 0;
    text-align: left;
    width: 100%;
  }
  .communicationPhone1 {
    position: relative;
    width: 12px;
    height: 12px;
  }
  .cta {
    border-radius: 40px;
    width: 140px;
    height: 36px;
    padding: 8px 0px;
    box-sizing: border-box;
  }
  .whatsappIcon1 {
    position: relative;
    width: 12px;
    height: 12px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .cta2 {
    border-radius: 40px;
    width: 140px;
    height: 36px;
    padding: 8px 0px;
  }
  .ctaParent {
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
  .frameDiv {
    align-items: center;
    justify-content: flex-start;
    gap: 0;
  }
  .frameWrapper {
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
  }
  .rectangleParent {
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }
  .frameParent {
    border-radius: 10.21px;
    width: 330px;
    height: inherit;
    padding: 20px;
    font-size: 14px;
    color: #3d3d3d;
  }
}
