.frameParent {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  margin-left: 5rem;
}
.frameGroup {
  width: 100%;
}
.topBuildingContractorsWrapper {
  display: flex;
  align-items: flex-start;
}
.frameCards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.user_cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.popularCategories {
  font-weight: 500;
}
@media only screen and (max-width: 440px) {
  .frameParent {
    margin-left: 0;
    width: 100vw;
    /* padding: 0 16px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0; */
  }
  .frameGroup {
    width: 100vw;
    padding-left: 20px;
  }
  .topBuildingContractorsWrapper {
    padding-left: 20px;
  }

}
