.frameChild {
  position: relative;
  border-radius: 8px;
  width: 320px;
  height: 320px;
  object-fit: cover;
}
.patagoniaConstructions1 {
  position: relative;
  line-height: 18px;
  font-weight: 500;
  text-align: left;
}
.ajayVarma {
  position: relative;
}
.fvIcon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.fvParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.ajayVarmaParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-size: 20px;
}
.ceoowner {
  position: relative;
  font-size: 16px;
}
.bangaloreKarnataka {
  position: relative;
  font-weight: 500;
}
.navigationMapPinParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 14px;
  color: #3d3d3d;
}
.div {
  position: relative;
  font-weight: 800;
}
.wrapper {
  border-radius: 4.22px;
  background-color: #00a976;
  display: flex;
  flex-direction: row;
  padding: 3.376391887664795px 10.129175186157227px;
  align-items: flex-start;
  justify-content: flex-start;
}
.interfaceStar5 {
  position: relative;
  width: 21.95px;
  height: 21.95px;
  overflow: hidden;
  flex-shrink: 0;
}
.interfaceStarParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6.86px;
}
.frameWrapper2 {
  display: flex;
  flex-direction: row;
  padding: 6.75278377532959px;
  align-items: center;
  justify-content: center;
}
.frameParent2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3.38px;
}
.ratings {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto;
  color: #828181;
}
.frameParent1 {
  width: 297px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.frameWrapper1 {
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 10.13px;
  color: #fff;
  font-family: Karla;
}
.patagoniaConstructionsGeneParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.groupChild {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  background-color: #daf3ed;
  width: 22px;
  height: 22px;
}
.taxPercentageIcon1 {
  position: absolute;
  top: 4.28px;
  left: 3.67px;
  width: 13.44px;
  height: 13.44px;
  object-fit: cover;
}
.ellipseParent {
  position: relative;
  width: 22px;
  height: 22px;
}
.span {
  color: #000;
}
.gstinNo {
  position: relative;
  line-height: 19px;
}
.groupParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.div1 {
  position: relative;
  line-height: 19px;
  font-weight: 500;
  color: #000;
  text-align: right;
  display: inline-block;
  width: 141px;
  flex-shrink: 0;
}
.frameParent5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.groupItem {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  background-color: #fff0b2;
  width: 22px;
  height: 22px;
}
.rupeeWallet111 {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 19.25px;
  height: 19.25px;
  object-fit: cover;
}
.crFy2023 {
  position: relative;
  line-height: 19px;
  font-weight: 500;
  color: #000;
  text-align: right;
  display: inline-block;
  width: 148px;
  flex-shrink: 0;
}
.frameItem {
  position: relative;
  width: 1px;
  height: 90px;
  opacity: 0.2;
}
.groupInner {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  background-color: #fff4e7;
  width: 22px;
  height: 22px;
}
.companyBuildingIcon1 {
  position: absolute;
  top: 1.83px;
  left: 2.44px;
  width: 17.11px;
  height: 17.11px;
  object-fit: cover;
}
.privateLimited {
  position: relative;
  line-height: 19px;
  font-weight: 500;
  color: #000;
  text-align: right;
  display: inline-block;
  width: 123px;
  flex-shrink: 0;
}
.ellipseDiv {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  background-color: #e4f3ff;
  width: 22px;
  height: 22px;
}
.badgeCalendar111 {
  position: absolute;
  top: 3.06px;
  left: 3.67px;
  width: 14.67px;
  height: 14.67px;
  object-fit: cover;
}
.years {
  position: relative;
  line-height: 19px;
  font-weight: 500;
  color: #000;
  text-align: right;
  display: inline-block;
  width: 60px;
  flex-shrink: 0;
}
.frameParent3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  text-align: left;
  font-size: 14px;
  color: #3d3d3d;
}
.frameDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.communicationPhone1 {
  position: relative;
  width: 20px;
  height: 20px;
}
.cta {
  border-radius: 40px;
  background: linear-gradient(25.54deg, #bf9900, #ffcf12);
  width: 192px;
  height: 48px;
  display: flex;
  flex-direction: row;
  padding: 8px 0px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.whatsapp {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.cta2 {
  border-radius: 40px;
  background: linear-gradient(25.54deg, #52b056 63.54%, #67c86a);
  width: 192px;
  height: 48px;
  display: flex;
  flex-direction: row;
  padding: 8px 0px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #fff;
}
.ctaParent {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.frameWrapper3 {
  position: relative;
  width: 396px;
  height: 48px;
  text-align: right;
  font-size: 16px;
  color: #3d3d3d;
  font-family: Karla;
}
.frameGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 21px;
}
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  z-index: 0;
}
.whatsapp1Icon1 {
  position: relative;
  width: 19.44px;
  height: 19.44px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.communicationShareAndroid1 {
  position: relative;
  width: 12px;
  height: 12px;
}
.whatsapp1Parent {
  margin: 0 !important;
  position: absolute;
  top: 54px;
  /* left: 880px; */
  right: 0;
  border-radius: 16px 0px 0px 16px;
  background-color: #e9fff8;
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  z-index: 1;
  text-align: left;
  font-size: 12px;
  font-family: Karla;
}
.frameParent {
  position: relative;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  width: 100%;
  height: 380px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  text-align: center;
  font-size: 24px;
  color: #000;
  font-family: Roboto;
}

/* Media query */
@media only screen and (max-width: 440px){
  .frameChild {
  	position: relative;
  	border-radius: 6.81px;
  	width: 139px;
  	height: 132px;
  	object-fit: cover;
  	z-index: 0;
}
.patagoniaConstructions1 {
  	position: relative;
  	line-height: 15.32px;
  	font-weight: 500;
  	text-align: left;
}
.ajayVarma {
  	position: relative;
}
.fvIcon {
  	position: relative;
  	width: 17.02px;
  	height: 17.02px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.fvParent {
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 6.81px;
}
.ajayVarmaParent {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 6.81px;
  	font-size: 13.62px;
}
.ceoowner {
  	position: relative;
  	font-size: 11.91px;
}
.navigationMapPin1 {
  	position: relative;
  	width: 11.91px;
  	height: 11.91px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.bangaloreKarnataka {
  	position: relative;
  	font-weight: 500;
}
.navigationMapPinParent {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	gap: 3.4px;
  	font-size: 10.21px;
  	color: #3d3d3d;
}
.div {
  	position: relative;
  	font-weight: 800;
}
.wrapper {
  	border-radius: 2.6px;
  	background-color: #00a976;
  	display: flex;
  	flex-direction: row;
  	padding: 2.078444719314575px 6.2353339195251465px;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.interfaceStar5 {
  	position: relative;
  	width: 13.51px;
  	height: 13.51px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.interfaceStarParent {
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 4.22px;
}
.frameWrapper2 {
  	display: flex;
  	flex-direction: row;
  	padding: 4.15688943862915px;
  	align-items: center;
  	justify-content: center;
}
.frameParent2 {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	gap: 2.08px;
}
.ratings {
  	position: relative;
  	font-size: 8.62px;
  	font-weight: 500;
  	font-family: Roboto;
  	color: #828181;
}
.frameParent1 {
  	width: 182.83px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 4.92px;
}
.frameWrapper1 {
  	width: 184.67px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: space-between;
  	font-size: 6.24px;
  	color: #fff;
  	font-family: Karla;
}
.patagoniaConstructionsGeneParent {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	gap: 6.81px;
  	color: #000;
}
.groupChild {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 50%;
  	background-color: #daf3ed;
  	width: 18.72px;
  	height: 18.72px;
}
.taxPercentageIcon1 {
  	position: absolute;
  	top: 3.64px;
  	left: 3.12px;
  	width: 11.44px;
  	height: 11.44px;
  	object-fit: cover;
}
.ellipseParent {
  	position: relative;
  	width: 18.72px;
  	height: 18.72px;
}
.span {
  	color: #000;
}
.gstinNo {
  	position: relative;
  	line-height: 16.17px;
}
.groupParent {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 6.81px;
}
.div1 {
  	position: relative;
  	line-height: 16.17px;
  	font-weight: 500;
  	color: #000;
  	text-align: right;
  	display: inline-block;
  	width: 169px;
  	flex-shrink: 0;
}
.frameParent5 {
  	display: flex;
  	/* flex-direction: row; */
  	align-items: flex-start;
  	justify-content:flex-start;
}
.groupItem {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 50%;
  	background-color: #fff0b2;
  	width: 18.72px;
  	height: 18.72px;
}
.rupeeWallet111 {
  	position: absolute;
  	top: 0.85px;
  	left: 0.85px;
  	width: 16.38px;
  	height: 16.38px;
  	object-fit: cover;
}
.crFy2023 {
  	position: relative;
  	line-height: 16.17px;
  	font-weight: 500;
  	color: #000;
  	text-align: right;
  	display: inline-block;
  	width: 178px;
  	flex-shrink: 0;
}
.frameParent4 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 8px;
}
.groupInner {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 50%;
  	background-color: #fff4e7;
  	width: 18.72px;
  	height: 18.72px;
}
.companyBuildingIcon1 {
  	position: absolute;
  	top: 1.56px;
  	left: 2.08px;
  	width: 14.56px;
  	height: 14.56px;
  	object-fit: cover;
}
.privateLimited {
  	position: relative;
  	line-height: 16.17px;
  	font-weight: 500;
  	color: #000;
  	text-align: right;
  	display: inline-block;
  	width: 124px;
  	flex-shrink: 0;
    /* text-align: left; */
    align-items: flex-start;
}
.ellipseDiv {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 50%;
  	background-color: #e4f3ff;
  	width: 18.72px;
  	height: 18.72px;
}
.badgeCalendar111 {
  	position: absolute;
  	top: 2.6px;
  	left: 3.12px;
  	width: 12.48px;
  	height: 12.48px;
  	object-fit: cover;
}
.div2 {
  	position: relative;
  	line-height: 16.17px;
  	font-weight: 500;
  	color: #000;
  	text-align: right;
  	display: inline-block;
  	width: 91px;
  	flex-shrink: 0;
}
.frameParent3 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	gap: 8px;
  	text-align: left;
  	font-size: 12px;
}
.communicationPhone1 {
  	position: relative;
  	width: 12px;
  	height: 12px;
}
.cta {
  	border-radius: 40px;
  	background: linear-gradient(25.54deg, #bf9900, #ffcf12);
  	width: 140px;
  	height: 36px;
  	display: flex;
  	flex-direction: row;
  	padding: 8px 0px;
  	box-sizing: border-box;
  	align-items: center;
  	justify-content: center;
  	gap: 12px;
}
.whatsappIcon1 {
  	position: relative;
  	width: 18px;
  	height: 18px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.whatsapp {
  	position: relative;
  	line-height: 24px;
  	font-weight: 500;
}
.cta2 {
  	border-radius: 40px;
  	background: linear-gradient(25.54deg, #52b056 63.54%, #67c86a);
  	width: 140px;
  	height: 36px;
  	display: flex;
  	flex-direction: row;
  	padding: 8px 0px;
  	box-sizing: border-box;
  	align-items: center;
  	justify-content: center;
  	gap: 8px;
  	color: #fff;
}
.ctaParent {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 12px;
}
.frameWrapper3 {
  	position: relative;
  	width: 291px;
  	height: 36px;
  	text-align: right;
  	font-family: Karla;
}
.frameGroup {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	gap: 14px;
}
.frameDiv {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
}
.frameWrapper {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	z-index: 1;
}
.whatsapp1Icon1 {
  	position: relative;
  	width: 19.44px;
  	height: 19.44px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: none;
}
.whatsapp1Parent {
  	margin: 0 !important;
  	position: absolute;
  	top: -0.27px;
  	left: 239.58px;
  	border-radius: 16px 0px 0px 16px;
  	background-color: #e9fff8;
  	display: flex;
  	flex-direction: row;
  	padding: 8px;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 8px;
  	z-index: 2;
  	text-align: left;
  	font-size: 12px;
  	color: #000;
}
.rectangleParent {
  	width: 286.8px;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	align-items: center;
  	justify-content: center;
  	position: relative;
  	gap: 16px;
}
.frameParent {
  	/* position: relative; */
  	border-radius: 10.21px;
  	background-color: #fff;
  	box-shadow: 0px 3.4041378498077393px 27.23px rgba(0, 0, 0, 0.08);
  	border: 0.9px solid rgba(0, 0, 0, 0.08);
  	box-sizing: border-box;
  	width: 100%;
  	height: 464px;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	padding: 20.424827575683594px;
  	align-items: center;
  	justify-content: flex-start;
  	text-align: center;
  	font-size: 14px;
  	color: #3d3d3d;
  	font-family: Roboto;
}


}