.qrCode2Icon {
  position: relative;
  width: 130px;
  height: 129px;
  object-fit: cover;
}
.downloadOurProjecthero {
  position: relative;
  line-height: 140%;
  display: inline-block;
  width: 317.72px;
  color: var(--Dark-Primary, #2a254b);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
}
.loremIpsumDolor1 {
  position: relative;
  font-size: 12px;
  line-height: 150%;
  display: inline-block;
  width: 261.52px;
  color: var(--Dark-Primary, #2a254b);
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
.textContentChild {
  width: 118.53px;
  height: 37.29px;
}
.textContentChild img{
    height: 100%;
    width: 100%;
}
.textContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8.9px;
}
.container1 {
  position: relative;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
  color: #2a254b;
}
.downloadWrapper {
  width: 398px;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
