.ratingsReviews1 {
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-family: Roboto;
}
.interfaceStar20 {
  position: relative;
  width: 21.95px;
  height: 21.95px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.interfaceStarParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6.86px;
}
.frameWrapper1 {
  display: flex;
  flex-direction: row;
  padding: 6.75278377532959px 0px;
  align-items: center;
  justify-content: center;
}
.div {
  position: relative;
  font-weight: 800;
}
.wrapper {
  border-radius: 4.22px;
  background-color: #00a976;
  display: flex;
  flex-direction: row;
  padding: 3.376391887664795px 10.129175186157227px;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3.38px;
}
.frameGroup {
  position: absolute;
  top: 0px;
  left: 1.5px;
  width: 297px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.frameWrapper {
  position: relative;
  width: 300px;
  height: 35.45px;
  font-size: 10.13px;
  color: #fff;
}
.globalRatings {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: #828181;
}
.detailsParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}
.woremIpsumDolor3 {
  color: #3d3d3d;
  font-family: Karla;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  width: 806px;
}
.irfanKhan {
  color: #000;
  text-align: center;
  font-family: Karla;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.postedOn123 {
  color: #808080;
  text-align: center;
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.woremIpsumDolorSitAmetCoParent {
  width: 806px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.frameParent1 {
  width: 827px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  font-size: 18px;
  color: #3d3d3d;
}
.frameParent {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  text-align: left;
  font-size: 24px;
  color: #2a254b;
  font-family: Karla;
}
.lineDiv {
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 100%;
  height: 1px;
  margin-top: 10px;
}
.viewmore {
  margin: 0 auto;
}

@media only screen and (max-width: 440px) {
  .ratingsReviews1 {
    position: relative;
    font-size: 16px;
    letter-spacing: 0.01em;
    line-height: 28px;
    font-weight: 600;
    font-family: Saira;
    color: #000;
    text-align: left;
  }
  .frameWrapper1{
    padding: 0;
  }
  .postedOn123 {
    color: #808080;
    text-align: center;
    font-family: Karla;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .detailsParent {
    width: 100%;
  }
  .frameParent {
    align-items: center;
    font-size: 14px;
  }
  .frameParent1 {
    width: 350px;
    flex-wrap: wrap;
    padding: 24px 16px;
    background-color: #fff;
    border-radius: 16px;
  }
  .woremIpsumDolorSitAmetCoParent {
    width: 320px;
    font-size: 12px;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .woremIpsumDolor3 {
    color: #3d3d3d;
    font-family: Karla;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
  }
  .interfaceStar21 {
    width: 16px;
    height: 16px;
  }
  .irfanKhan {
    color: #000;
    text-align: center;
    font-family: Karla;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .viewmore {
    font-size: 14px;
  }
}
